<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<display-name>UserLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	
  	<servlet-class>com.nandhu.impl.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<display-name>UserRegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserProfileServlet</servlet-name>
  	<display-name>UserProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.UserProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CityServlet</servlet-name>
  	<display-name>CityServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.CityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OccupationServlet</servlet-name>
  	<display-name>OccupationServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.OccupationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<display-name>ChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfile</servlet-name>
  	<display-name>EditProfile</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.EditProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<display-name>EditProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.EditProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllProfilesServlet</servlet-name>
  	<display-name>AllProfilesServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.AllProfilesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MembershipSaveServlet</servlet-name>
  	<display-name>MembershipSaveServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.MembershipSaveServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CalculateExpiryDate</servlet-name>
  	<display-name>CalculateExpiryDate</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.CalculateExpiryDate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateExpiryDate</servlet-name>
  	<display-name>UpdateExpiryDate</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.UpdateExpiryDate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePlan</servlet-name>
  	<display-name>UpdatePlan</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.UpdatePlan</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateActiveStatus</servlet-name>
  	<display-name>UpdateActiveStatus</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.UpdateActiveStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HeightServlet</servlet-name>
  	<display-name>HeightServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.HeightServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SalaryServlet</servlet-name>
  	<display-name>SalaryServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.SalaryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReaminingDays</servlet-name>
  	<display-name>ReaminingDays</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.ReaminingDays</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemainingDays</servlet-name>
  	<display-name>RemainingDays</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.RemainingDays</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.nandhu.impl.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserProfileServlet</servlet-name>
  	<url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityServlet</servlet-name>
  	<url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OccupationServlet</servlet-name>
  	<url-pattern>/OccupationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfile</servlet-name>
  	<url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllProfilesServlet</servlet-name>
  	<url-pattern>/AllProfilesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MembershipSaveServlet</servlet-name>
  	<url-pattern>/MembershipSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CalculateExpiryDate</servlet-name>
  	<url-pattern>/CalculateExpiryDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateExpiryDate</servlet-name>
  	<url-pattern>/UpdateExpiryDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePlan</servlet-name>
  	<url-pattern>/UpdatePlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateActiveStatus</servlet-name>
  	<url-pattern>/UpdateActiveStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HeightServlet</servlet-name>
  	<url-pattern>/HeightServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SalaryServlet</servlet-name>
  	<url-pattern>/SalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReaminingDays</servlet-name>
  	<url-pattern>/ReaminingDays</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemainingDays</servlet-name>
  	<url-pattern>/RemainingDays</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
